.expense-form-container {
    padding: 20px;
    background-color: #EDEEEB;
  }
  
  .submit-btn {
    background-color: #3E96F4;
    color: #FFFFFF;
  }
  
  .submit-btn:hover {
    background-color: #165982;
  }
  