

<div class="dashboard-container flex justify-content-center align-items-center h-100">
    <div>

    </div>
        <ja-card [customInlineStyles]="null" [customClass]="'hero-card'">
    
    <div class="title">Welcome to JAC-AI</div>
    <div class="subtitle">Your personal AI for tracking your financial needs</div>
    <div class="features">
      <div class="feature">
        <i class="pi pi-wallet"></i>
        <div class="description">Manage Expenses</div>
      </div>
      <div class="feature">
        <i class="pi pi-chart-line"></i>
        <div class="description">Track Investments</div>
      </div>
      <div class="feature">
        <i class="pi pi-money-bill"></i>
        <div class="description">Grow Savings</div>
      </div>
    </div>
    <button class="cta-button">Get Started</button>
            
            </ja-card>
    </div>
    

