/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/main.scss";

@import "primeicons/primeicons.css";

body {
    // background-color: #F6F4F0;
    background-color: #EDEEEB;
      font-family: Arial, sans-serif;
      margin: 0;
}